@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap');

html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
